.checkers_backgrund {
  height: 100%;
  width: 100%;

  background: conic-gradient(
    #ffffff 90deg,

    #c4c4c4 90deg 180deg,

    #ffffff 180deg 270deg,

    #c4c4c4 270deg
  );

  background-repeat: repeat;
  background-size: 20px 20px;
  background-position: top left;
}
